@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap');
*{
  padding: 0;
  margin: 0;
}

body{
  min-height: 100vh;
  padding: 40px 24px 72px 24px;
  text-align: -webkit-center;
  transition: ease all 0.5s;
}
.divforImageLightMobile{
  width: 100%;
  height: 25%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  user-select: none;
}

.imageLightMobile{
  width: 100%;
  height: 100%;
}

.displayNone, .imageLightDesktop{
  display: none;
}
.TodoAndThemes{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.inputValue{
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 30px;
  border-radius: 5px;
}
.textInput{
  width: 90%;
  height: 60%;
  border: none;
  padding-left: 24px;
  outline: none;
  font-family: Josefin Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.25px;
  text-align: left;
  color: #393A4B;
}
.checkboxInput{
  width: 1.8em;
  height: 1.8em;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #E3E4F1;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;

}
.checkboxInput:checked{
  padding: 5px 5px;
  content: url(./images/icon-check.svg);
  background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
}
.checkboxInput:hover{
  border: 2px solid blue;
  cursor: pointer;
  transition: all 0.5s;
}
.todoTargetText{
  width: 90%;
  height: 60%;
  border: none;
  padding-left: 24px;
  outline: none;
  text-align: start;
}
.iconCross{
  display: none;
}
.itemsCounter p{
  font-family: Josefin Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: -0.1666666716337204px;
  text-align: left;
  color: #9495A5;
}
.itemsCounter{
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 5px;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
}
.filterComponents p{
  font-family: Josefin Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: -0.1944444477558136px;
  text-align: left;
  color: #9495A5;
}
.filterComponents p:hover{
  cursor: pointer;
  color: blue;
}
.filterTodosDiv{
  height: 44px;
  background-color: white;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);

}
.filterComponents{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}
.itemsAndClearComplite{
  width: 100%;
  height: 44px;
  text-align: -webkit-center;
}
.lastText{
  font-family: Josefin Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.1944444477558136px;
  text-align: center;
  color: #9495A5;
  margin-top: 30px;
}
.itemsAndClearCompliteDesktop{
  display: none;
}
.container{
  margin-top: 30px;
}
.clearComplite:hover{
  cursor: pointer;
  color: blue;
}
.icons:hover{
  cursor: pointer;
}
hr{
  width: 100%;
  background-color: #E3E4F1;
  border: none;
  height: 2px;
}
@media only screen and (min-width: 600px){
  .imageLightMobile{
    display: none;
  }
  .imageLightDesktop{
    display: block;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    user-select: none;
    height: 100%;
  }
  .displayNon{
    display: none;
  }
  body{
    padding: 70px 24px 72px 40px;
    transition: ease all 0.5s;
  }
  .itemsAndClearComplite{
    display: none;
  }
  .itemsAndClearCompliteDesktop{
    display: block;
  }
}
