*{
  padding: 0;
  margin: 0;
}

body{
  min-height: 100vh;
  padding: 40px 24px 72px 24px;
  text-align: -webkit-center;
}
.divforImageLightMobile{
  width: 100%;
  height: 25%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  user-select: none;
}

.imageLightMobile{
  width: 100%;
  height: 100%;
}

.displayNone, .imageLightDesktop{
  display: none;
}
.TodoAndThemes{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 600px){
  .imageLightMobile{
    display: none;
  }
  .imageLightDesktop{
    display: block;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    user-select: none;
  }
  .displayNon{
    display: none;
  }
}
